{% extends "layout.html.twig" %}


{% block title %}

    IceWorld | Ateliers

{% endblock %}

{% block content %}


<body class="bodyatelier">
    <!-- Team -->
    <section class="" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="section-heading text-uppercase titreateliers">Ateliers</p>
                    <h3 class="section-subheading text-muted">Nos ateliers pratiques</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">

                        <div><img class=" mx-auto rounded-circle zindex animated fadeInDownBig delay-2s faster" src="img/team/1.jpg" alt=""></div>

                        <h4>Atelier Glace Mahâl : 200€</h4>
                        <p class="text-muted">Venez découvrir les saveurs épicées et suaves de l’Inde et de ses pays avoisinant. Une culture riche en saveurs vous promettant un voyage gustatif pimenté.</p>


                        <ul class="list-inline social-buttons">




                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>


                        </ul>



                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">

                        <div><img class=" mx-auto rounded-circle zindex animated fadeInDownBig delay-3s faster" src="img/team/2.jpg" alt=""></div>

                        <h4>Atelier Sglaciba : 500€</h4>
                        <p class="text-muted">Da da ! Direction les hauteurs de la Russie aux notes enneigées. Un voyage qui vous fera redécouvrir les douceurs nordiques version glacée en marquant un arrêt sur en plein pavlova ! </p>
                        <ul class="list-inline social-buttons">




                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>


                        </ul>



                    </div>
                </div>




                <div class="col-sm-4">
                    <div class="team-member">

                        <div><img class=" mx-auto rounded-circle zindex animated fadeInDownBig delay-4s fast" src="img/team/3.jpg" alt=""></div>



                        <h4>Atelier Glacemérique : 750€</h4>
                        <p class="text-muted">Welcome to America ! Venez vous régaler et préparer tout en redécouvrant les saveurs du nouveau continent, aussi particulières qu’elles puissent paraître, dans leur version glacée.</p>


                        <ul class="list-inline social-buttons">




                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">

                </div>
            </div>
        </div>
    </section>



    </body>



{% endblock %}
