<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
          <span class="copyright">Copyright &copy; IceWorld 2019 <br>
              {% if not app.user %}
                  <a class="login" href="{{ path ('security_login') }}">Connexion</a>
              {% else %}
                  <a class="logout" href="{{ path ('security_logout') }}">Déconnexion</a>
              {% endif %}

            <a hidden="true" class="inscription" href="{{ path ('security_registration') }}">Inscription</a><br>


          </span>


                </div>

                <div class="col-md-4">
                    <ul class="list-inline social-buttons">

                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter twittwit"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                    </ul>
                </div>




                <div class="col-md-4">
                    <ul class="list-inline quicklinks">

                        <form class="form-inline" method="post" action="$newsletter">
                            <p class="newsletter"> Abonnez-vous à la Newsletter</p>
                            <div class="form-group mb-2">

                                <div class="form-group mx-sm-2 mb-2 offset-1">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Rentrez votre Email">
                                </div>

                                <button type="submit" class="btn btn-primary mb-2">Envoyez</button>
                            </div>
                        </form>

                    </ul>





                </div>
            </div>
        </div>
    </footer>

