<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="chart.html">
                        <i class="fas fa-chart-bar"></i>Gestion Des Produits</a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="fas fa-table"></i>Gestion De La Newsletter</a>
                </li>
                <li>
                    <a href="form.html">
                        <i class="far fa-check-square"></i>Gestion Des Allergènes</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-calendar-alt"></i>Gestion Du Site Et Des Composents</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->