<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>ICE WORD Tu Peux Pas Test<a
                        href="https://colorlib.com">LDF</a>.</p>
        </div>
    </div>
</div>